[flake8]
ignore = E203, E501, W503,  # handled by black
         ANN101, ANN204,
         D104,  # no docstring in public package
         D200,  # One-line docstring should fit on one line with quotes
         D107,  #  Missing docstring in __init__

exclude =
    *_venv
    venv_*
max-complexity = 7
max-cognitive-complexity = 10
per-file-ignores =
    # No docs and annotation required for tests and pytest.raises single statement
    test*.py: D10, D101, D103, S101, ANN, PT012
    # Don't check this errors
    hw/hw3/hw3_task2.py: S311, S303
    # Don't check if return value is assigned
    hw/hw6/hw6_task1.py: R504
    # Skip unused imports in __init__ files
    __init__.py: F401
    # Skip SQL injection check:
    hw/hw8/hw8_task2.py: S608
    # Skip S405, S314
    hw/hw10/hw10_task1.py: S314, S405

# Import order https://pypi.org/project/flake8-import-order/
application-import-names = hw
import-order-style = pycharm

doctests = True
